*,
*::before,
*::after{
     box-sizing: border-box;
}

/*custom properties*/

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro',monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent:#16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*general styles*/

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100% ;
}


strong{
    font-weight: var(--fw-bold);
}

/*typografy*/

h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

.section__tittle{
    margin-bottom: .25em;

}

.section__tittle--intro{
    font-weight: var(--fw-reg);
}
.section__tittle--intro strong{
    display: block;
}

.section__subtittle{
     margin: 0;
     font-size: var(--fs-h3);
}

.section__subtittle--intro,
.section__subtittle--about{
    background: var(--clr-accent);
    font-family: var(--clr-dark);
}
